/* src/styles/fonts.css */
@font-face {
  font-family: 'Nohemi';
  src: url('/src/assets/fonts/Nohemi-Medium.woff') format('woff'),
       url('/src/assets/fonts/Nohemi-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/src/assets/fonts/Nohemi-Bold.woff') format('woff'),
       url('/src/assets/fonts/Nohemi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}