@import "tailwindcss";

@import './styles/font.css';



body {
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: #e5e7eb; /* Tailwind gray-200 */
}

.bg-customGreen{
  background-color: #234639;
}

.border-customGreen{
  border-color: #234639;
}

.text-customGreen{
  color: #234639;
}
.button-customGreen{
  background-color: #234639;
  color: white;
}

.bgCustomBlack{
  background-color: #2D3130;
}

.bgCustomBlack2{
  background-color: #3A3A3A;
}


@keyframes fadeSlideMain {
  0% {
    opacity: 0;
    transform: translateX(20px) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.smooth-slide-main {
  animation: fadeSlideMain 0.5s ease-in-out;
}




